/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding-top: 100px;
  color: #333;
  min-height: 100vh;
}

/* Cabeçalho fixo */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.menu .logo img {
  height: 85px;
}

/* Links de navegação */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Busca */
#divBusca {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

#divBusca input {
  border: none;
  padding: 5px;
  outline: none;
}

/* Área de login */
.user-access {
  color: white;
}

/* Carrinho */
#divCarrinho img {
  margin-left: 10px;
}

/* Container e mini menu */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

.mini-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  min-width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.item-mini-menu{
  background-color: #f1f1f1;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-left:  5px solid #FF9900;
  
}

.item-mini-menu a:hover {
  background-color: #e08800;
}

.item-mini-menu button{
  font-size: 18px;
  border: 0px;
}

.item-mini-menu button:hover {
  cursor: pointer;
}

/* Mensagens de sucesso/erro */
.mensagem-sucesso,
.mensagem-erro {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  z-index: 2000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  cursor: pointer;
}

.mensagem-sucesso {
  background-color: #28a745;
  color: #fff;
}

.mensagem-erro {
  background-color: #dc3545;
  color: #fff;
}

/* Rodapé */
footer {
  background-color: #333;
  color: white;
  padding: 30px 20px;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contato {
  flex: 1;
}

.contato p,
.footer-descricao p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

#imagem-contato {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-descricao h2 {
  margin-bottom: 10px;
}
